*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "iranyekanwebregular",Arial, Helvetica, sans-serif;
    background-color: #ececeb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1348px;
    margin: auto;
    padding: 5px 0 7px;
    background-color: rgba(255, 255, 255, 255);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    z-index: 9999;
}

.logo {
    margin: 11px 28px;
}

.header-ul {
    display: flex;
    list-style: none;
}

.header-ul li {
    font-size: 14px;
    margin: 0 15px;
}

.header-ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #303030;
}

.header-ul > li:last-child a {
    color: #28487b;
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 20px;
    padding: 10px 27px;
    margin-right: 20px;
    font-family: YekanBakhBold;
}
.header-ul > li:last-child a:hover {
    background-color: rgb(147, 153, 155);
    color: white;
}
.more-menu {
    display: flex;
}
.more-menu ul li {
    float: right;
    position: relative;
}
.more-menu ul li:hover > ul {
    display: block;
}
.more-menu ul li :hover {
    background-color: #28457b;
    color: white;
    width: 50px;
}
.more-menu ul li :hover a {
    color: #fff;
}
.more-menu ul li a {
    display: block;
    padding: 15px 32px;
    color: #4e4e4e;
    text-decoration: none;
}
.more-menu ul {
    list-style: none;
}
.show-reservation-menu {
    position: relative;
}
.drop-down {
    position: absolute;
    width: 8rem;
    background-color: #eee;
    top: 2.7rem;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all ease .2s;
}
#show-reservation-menu:hover .drop-down {
    display: block;
    opacity: 1;
    visibility: visible;
}
.more-menu img {
    width: 8px;
    margin-right: 5px;
}
.hamburger-icon {
    width: 27px;
    display: none;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    font-family: YekanBakhMedium;
    transform: translateY(-100%);
}

.cross-icon{
    width: 100%;
    text-align: left;
    padding: 25px 0;
}

.cross-icon img {
    width: 20px;
    margin-left: 30px;
}

.hamburger-menu-items {
    padding: 10px 30px;
}

.hamburger-menu-items ul {
    list-style: none;
}

.hamburger-menu-items a {
     text-decoration: none;
     color: black;
     display: inline-block;
     padding: 3px 0;
}

.hamburger-menu-items div {
    height: 1px;
    background-color: #dfe1e4;
    width: 90%;
    margin: 8px 0;
}

.more-item {
    display: flex;
    background-color: #eee;
    padding: 20px 50px;
    align-items:center;
}

.more-item img {
    width: 15px;
    margin-right: 5px;
}

.more-item a {
    text-decoration: none;
    color: #28457b;
    font-size: 0.85rem;
}

.show-hamburger-menu {
    animation: fadeInDown 0.25s forwards;
}
 

/*mainbackground*/
.main-background {
    width: 1348px;
}
.main-background img{ 
    width: 100%;
}    
.main-background h1 {
    font-size: 3.5rem;
    top: 200px;
    right: 80px;
    color: rgba(45, 52, 54,1.0);
    position: absolute;
}


/*search*/
.search {
    /*background-color: rgba(0, 0, 0, 0.37);*/
    height: 200px;
}
.search-grid {
    color: #ffffff;
    background-color: #292e33;
    margin: -57px 130px 40px;
    padding: 0;
    position: relative;
    display: flex;
    height: 100px;
    width: 1050px;
}
.hotel-name {
    margin: 20px;
    padding-right: 10px;
    border-width: 2px;
    border-style: solid;
    width: 800px;
    background-color: #ffffff;
}
.hotel-name input{
    font-size: 20px;
    text-decoration: none;
    width: 160px;
    margin-top: 15px;
    margin-right: 10px;
}
.city-name {
    margin: 20px;
    padding-right: 5px;
    border-width: 2px;
    border-style: solid;
    width: 800px;
    background-color: #ffffff;
}
.city-name input {
    font-size: 20px;
    text-decoration: none;
    width: 160px;
    margin-top: 15px;
    margin-right: 10px;
}
.grade {
    margin: 20px;
    padding-right: 5px;
    border-width: 2px;
    border-style: solid;
    width: 800px;
    background-color: #ffffff;
}
.grade input {
    font-size: 20px;
    text-decoration: none;
    width: 160px;
    margin-top: 15px;
    margin-right: 10px;
}
.find {
    margin: 20px;
    padding-right: 300px;
    border-width: 2px;
    border-style: solid;
    background-color: #ffffff;
}
.find p{
    font-size: 20px;
    color: black;
    margin-top: 15px;
    margin-right: -220px;
}
.search-icon img {
    width: 50px;
    height: 50px;
    margin-top: -100px;
    margin-right: -130px;
}
.search-icon img:hover {
    background-color: #eee;
    cursor: pointer;
}


/*login and signup*/
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}
.backright {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #f2eee3 url(/public/backright.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.backleft {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #e74c3c url(/public/backleft.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.slidebox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.topLayer {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}
.left {
    width: 50%;
    height: 100%;
    background: #2C3034;
    left: 0;
    position: absolute;
}
.right {
    width: 50%;
    height: 100%;
    background: #f2eee3;
    right: 0;
    position: absolute;
}  
.content {
    width: 250px;
    margin: 0 auto;
    top: 30%;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}
.content h2 {
    color: #03A9F4;
    font-weight: 300;
    font-size: 35px;
    text-align: right;
    font-family: 'YekanBakhBold';
    margin-right: 90px;
}
.psw {
    margin-left: 40px;
    margin-top: 15px;
    color: #03A9F4;
}
.forget-psw {
    margin-left: 30px;
    margin-top: 25px;
    
}
.forget-psw a{
    text-decoration: none;
    color: #eee
}
button {
    background: #03A9F4;
    padding: 10px 16px;
    width: auto;
    font-family: 'YekanBakhBold';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
    margin: 15px 15px 15px 0;
    transition: all 0.25s;
}
button:hover {
    background: #0288D1;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}
.off {
    background: none;
    color: #03A9F4;
    box-shadow: none;
}
.goRight {
    background-color: #eee;
    color: #03A9F4;
}
.goRight a {
    text-decoration: none;
    color: #2C3034;
}
.goLeft {
    background-color: #2C3034;
    color: #03A9F4;
}
.goLeft a{
    text-decoration: none;
    color: #eee;
}
.right :hover {
    background: #eee;
    color: #03A9F4;
    box-shadow: none;
}
.left :hover {
    box-shadow: none;
    color: #03A9F4;
    background: #2C3034;
}
.right input {
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #45494C;
    font-family: 'iranyekanwebmedium';
    font-size: 14px;
    text-align: right;
    color: #959595;
    padding: 8px 0;
    margin-top: 10px;
}
.left input {
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #45494C;
    font-family: 'iranyekanwebmedium';
    font-size: 14px;
    text-align: right;
    color: #959595;
    padding: 8px 0;
    margin-top: 10px;
    
}


/*popular-destination*/
.popular-destination {
    box-sizing: border-box;
    background: #ececeb;
}
.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 200px);
    margin: 0 auto;
    max-width: 90%;
    padding: 3rem 0;
    height: 500px;
}
.img {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item-1{
    grid-row: 1/2;
}
.item-2 {
    grid-row: 1/3;
}
.item-3{
    grid-row: 2/3;
}
.item-4 {
    grid-row: 2/3;
}
.item-5 {
    grid-row: 1/2;
}
  
.item-6 {
    grid-row: 1/3;
} 

.item-1 a {
    margin: 135px 185px 20px 0 ;
    position: absolute;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 35px;
}
.item-1 > a:hover{
    color: red;    
    cursor: pointer;
}
.item-2 a {
    margin: 290px 185px 80px 0;
    position: absolute;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 35px;
}
.item-2 > a:hover{
    color: red;
    cursor: pointer;
}
.item-3 a {
    margin: 140px 158px 20px 0 ;
    position: absolute;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 35px;
}
.item-3  > a:hover{
    color: red;
    cursor: pointer;
}
.item-4 a {
    margin: 140px 188px 20px 0 ;
    position: absolute;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 35px;
}
.item-4  > a:hover{
    color: red;
    cursor: pointer;
}
.item-5 a {
    margin: 140px 188px 20px 0 ;
    position: absolute;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 35px;
}
.item-5  > a:hover{
    color: red;
    cursor: pointer;
}
.item-6 a {
    margin: 290px 190px 20px 0 ;
    position: absolute;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 35px;
}
.item-6  > a:hover{
    color: red;
    cursor: pointer;
}


/*popular-hotels*/
.popular-hotels {
    background: #ececeb;
    height: 400px;
}


/*footer*/
.footer {
    line-height: 1.5;
    margin:0;
	padding:0;
	box-sizing: border-box;
    background-color: #24262b;
    padding: 70px 0;
}
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul {
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col p {
    font-size: 16px;
	color: #bbbbbb;
	font-weight: 300;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 35px;
	width: 35px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social-links img{
    height: 15px;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


/*hotels*/
.hotel-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 200px);
    margin: 0 auto;
    max-width: 90%;
    padding: 3rem 0;
    height: 500px;
}
.hotel-1 {
    border: 1px solid gray;
    border-radius: 15px;
}
.hotel-1 img {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hotel-2 img {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hotel-3 img {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*gilan*/
.gilan-background img {
    width: 1348px;
    height: 400px;
}
.hotel-1 a{
    text-decoration: none;
    color:black;
}
.hotel-1 a:hover {
    color: red;
    cursor: pointer;
}
.hotel-2 a {
    text-decoration: none;
    color:black;
}
.hotel-2 a:hover {
    color: red;
    cursor: pointer;
}
.hotel-3 a {
    text-decoration: none;
    color:black;
}
.hotel-3 a:hover {
    color: red;
    cursor: pointer;
}
.star {
    width: 20px;
    display: flex;
    margin-right: 3px;
}
.star p {
    font-size: 15px;
    margin-right: 5px;
    margin-top: 2px;
}
.star img {
    width: 20px;
    display: flex;
}


.hotel1 {
    margin-top: 30px;
    margin-right: 100px;
}
.hotel1 h2 {
    margin-right: 50px;
}
.hotel1 h5 {
    margin-right: 52px;
    font-size: 15px;
}
.starhotel img{
    margin-right: 50px;
    width: 20px;
}
.starhotel {
    font-size: 15px;
    margin-right: 3px;
    margin-top: 2px;
    display: flex;
}
.features {
    border-style: solid;
    border-radius:  6px;
    border-color: black;
    margin:20px  50px;
    padding: 10px;
    width: 400px;
    background-color: white;
}
.features h3 {
    color: gray;
}
.check img{
    width: 20px;
    display: flex;
}
.check p {
    font-size: 15px;
    margin-right: 20px;
}
.features-img {
    margin-right: 40px;
}
.features-img img {
    margin: 10px;
    height: 150px;
    width: 150px;
}
.users{
    border-style: solid;
    border-radius: 10 px;
    border-color: black;
    margin:20px  50px;
    padding: 10px;
    width: 1005px;
    background-color: white;
}
.users h3 {
    color: gray;
}
.date {
    font-size: 12px;
}

/*panorama*/
.grid-hotel {
    display: grid;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto;
    background-color: gray;
    padding: 10px;
    margin: 50px 150px;
}
.grid-item1 {
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 10px;
    grid-column: 1/ span 1;
    grid-row: 1/span 5;
    width: 200px;
}
.v-icon {
    display: flex;
    padding-top: 5px;
}
.grid-item1 img {
    width: 20px;
    height: 20px;
}
.grid-item2 {
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    grid-row: 1/span 3;
    width: 300px;
}
.hotel-img img{
    width: 100px;
    height: 80px;
}
.grid-item {
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}
/*shayegan*/
.hotel-box {
    padding: 10px;
    margin: 50px 150px;
    height: 1000px;
}

.hotel-v {
    background-color: rgba(255, 255, 255, 255);
    border: 1px solid gray;
    padding: 20px;
    font-size: 16px;
    width: 450px;
    margin-right: 8px;
}
.icon-v {
    display: flex;
}
.icon-v img {
    width: 22px;
    height: 22px;
    padding: 5px;
}
.icon-v p {
    padding: 5px;
    font-size: 16px;
}
.images-h {
    background-color: rgba(255, 255, 255, 255);
    border: 1px solid gray;
    padding: 20px;
    width: 420px;
    margin-right: 520px;
    margin-top: -675px;
}
.images-h img{
    padding: 5px;
    width: 190px;
    height: 155px;
    border-radius: 15px;
}
.more-hotel {
    background-color: rgba(255, 255, 255, 255);
    border: 1px solid gray;
    padding: 20px;
    width: 420px;
    margin-right: 520px;
    margin-top: 20px;
    height: 227px;
}
.more-hotel img {
    width: 80px;
    height: 80px;
}
.m-hotel {
    display: flex;
    padding-top: 20px;
}
.text-h {
    padding-right: 5px;    
}
.text-h a {
    text-decoration: none;
    color: black;
}
.coments-h {
    background-color: #eee;
    border: 1px solid #eee;
    padding: 20px;
    width: 750px;
    margin-top: 30px;
    margin-right: 8px;
    height: 400px;
}
.users-h {
    margin-top: 30px;
}
.user1 {
    display: flex;
}
.user1 img {
    width: 45px;
    height: 45px;
    margin-top: 10px;
}
.user1 h3 {
    padding-top: 8px;
    padding-right: 10px;
}
.user1 p {
    padding-top: 37px;
    margin-right: -115px;
}
.user-text p{
    margin-top: 30px;
    margin-right: -140px;
}
.user1 hr {
    width: 600px;
    margin-right: -180px;
}

.choose-day {
    background-color: rgba(255, 255, 255, 255);
    border: 1px solid gray;
    padding: 20px;
    width: 420px;
    margin-right: 520px;
    margin-top: 20px;
    height: 227px;
}
.choose-day button{
    margin-right: 5px;
    margin-top: 60px;
}
.exit-date {
    margin-right: 250px ;
    margin-top: -68px;
}
.enter-date {
    margin-top: 30px;
}
.exit-date h3 {
    margin: 10px;
}
.enter-date h3{
    margin: 10px;
}
.number-people input {
    font-size: 20px;
}

/*management*/
.logo {
    display: flex;
}
.profile {
    font-family: YekanBakhBold;
    display: flex;
    margin-top: -50px;
}
.profile :hover {
    color: #28487b;
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 20px;
    
    margin-right: 1250px;
    font-family: YekanBakhBold;
}
.profile a {
    text-decoration: none;
    color: black;
    padding: 10px 27px;
    margin-right: 1250px;
}
.admin {
    background-color: grey;
    width: 250px;
    height: 850px;
    display: flex;
}
.main-page1 {
    background-color: grey;
    width: 250px;
    height: 120px;
    margin-right: 370px;
    margin-top: -750px;
    
}
.main-page1 h2 {
    text-align: center;
    padding-top: 10px;
}
.main-page2 {
    background-color: grey;
    width: 250px;
    height: 120px;
    margin-right: 700px;
    margin-top: -120px;
}
.main-page2 h2 {
    text-align: center;
    padding-top: 10px;
}
.main-page3 {
    background-color: grey;
    width: 250px;
    height: 120px;
    margin-right: 370px;
    margin-top: 50px;
}
.main-page3 h2 {
    text-align: center;
    padding-top: 10px;
}
.main-page4 {
    background-color: grey;
    width: 250px;
    height: 120px;
    margin-right: 700px;
    margin-top: -120px;
    
}
.main-page4 h2 {
    text-align: center;
    padding-top: 10px;
}
.main-page5 {
    background-color: grey;
    width: 250px;
    height: 120px;
    margin-right: 1050px;
    margin-top: -120px;
    
}
.main-page5 h2 {
    text-align: center;
    padding-top: 10px;
}
.number {
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.712);
}
.right-part {
    padding-top: 5px;
    padding-right: 10px;
    
}
.right-part img{
    width: 25px;
    height: 25px;
}

.right-part :hover {
    color: #eee;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
}
.dropdown {
    padding-right: 30px;
    padding-top: 5px;
    position: absolute;
    width: 10rem;
    background-color: gray;
    top: 1.5rem;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all ease .2s;
}
.show-reservation-menu p {
    padding-right: 10px;
    padding-top: 5px;
}
.show-reservation-menu {
    display: flex;
    padding: 23px 13px 7px 17px;
}
.show-reservation-menu:hover .dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
}
.right-part a {
    text-decoration: none;
    color: black;
}
.right-part ul {
    text-decoration: none;
}
.right-part ul li {
    list-style-type: none;
}
.right-part a:hover {
    color: #eee;
    background-color: grey;
}
.create-city {
    
    width: 600px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.884);
    margin: 20px;
    margin-right: 400px;
    margin-top: -800px;
    padding: 60px;
}
.title {
    text-align: center;
}
.create-city p{
    font-size: 20px;
    padding: 8px 2px 10px 5px;
}
.city-table input {
    width: 450px;
    font-size: 15px;
}
.city-table {
    font-size: 20px;
}
.city-tables table,th,td {
    border: 1px solid black;
}
.city-tables {
    text-align: center;
}
.city-tables a {
    text-decoration: none;
    color: white;
}
.create-city input {
    font-size: 20px;
}
.add-hotel {
    width: 800px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.884);
    margin: 20px;
    margin-right: 350px;
    margin-top: -800px;
    padding: 60px;
}
.opacity-hotel label {
    margin-right: -200px;
}
.add-hotel a {
    text-decoration: none;
}
.opacity-hotel {
    margin-right: -210px;
}

.accept {
    background-color: green;
}
.reject {
    background-color: red;
}



@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1200px) {
    header {
        width: 940px;
    }
}
@media (max-width: 990px){
    header {
        width: auto;
        padding: 20px 60px;
    }

    .header-ul li:last-child {
        display: none;
    }

    .logo {
        margin: 0;
    }

    .header-ul li {
        margin: 0 10px;
    }
}

@media (max-width: 768px){
    .header-ul {
        display: none;
    }
    .hamburger-icon {
        display: block;
    }
    header {
        width: auto;
        padding: 10px 8px;
    }
}

/*footer-res*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
}
}
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
}
}  